@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {

   
    
       
   
    background-color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    ;
}



.bodyContainer {

    max-width: 100%;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;





}

.container {

    max-width: 100%;
    margin-left: 200px;
    margin-right: 200px;


}


/* hero section styling */
#hero-section {
   
    height: 100vh;
    background-color: #eeeeee;
}


.hero {

    display: flex;

    justify-content: space-between;


}



.logo {
    float: left;


    max-width: 30px;
}

.nav-links {

    float: right;


}

#navbar {
    z-index: 100;
    padding: 0px 200px;
    background: #eeeeee73;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.8s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {

    display: flex;
    list-style: none;
}

#navbar a {

    display: block;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0px;
    font-size: 18px;


}

a {


    text-decoration: none;
}

.nav-link {
    margin: 0 40px;

}


ul li:nth-child(4) {

    margin-right: 0;

}



/* hero title and subtitles */
.hero-texts {
    margin: 70px 0px;
    z-index: 10;
}

.hero-title {

    font-size: 4vw;
    padding-top: 190px;
    font-weight: 600;
    animation: text-wave 14s infinite;

}

.hero-subtitle {
    font-size: 0.9vw;
    animation: text-wave 9s infinite;
    padding-top: 40px;
    z-index: 7;
}

.work-link {
    animation: wave 2s infinite;
    padding-top: 50px;
    font-size: 20px;
}


.hero-link {
    padding-top: 180px;

}

div a {
    color: #363636;
    text-transform: uppercase;
    font-weight: bold;
}


/* social hero links */

.heroLinkElements {

    padding-left: 15px;



}

.heroLinkElements {

    padding-left: 15px;



}




/* circle blob */

.circle {

    position: absolute;
    width: 707px;
    height: 707px;
    background: #FFFFFF;
    border-radius: 50%;
    left: 30%;
    top: 150px;
    z-index: 1;
    animation: waveOne 4s infinite;
}




/* IMAGES DESIGN SECTION */


.img-hero {
    animation: waveOne 5s infinite;
    margin-top: 220px;
    right: 90px;
    max-width: 500px;
    width: 550px;
    z-index: 4;
    position: relative;

}



/* lines */

.lines {
    position: absolute;
    top: 35%;
    z-index: 3;



}

.lines:nth-child(1) {

    margin-left: -5%;
    animation: waveOne 6s infinite;

}

.lines:nth-child(2) {
    /* left: 75%; */
    margin-left: 5%;
    top: 35%;
    animation: waveOne 4s infinite;
}

.lines:nth-child(3) {

    /* left: 60%; */
    margin-left: 13%;
    top: 40%;
    z-index: 5;
    animation: waveOne 6s infinite;
}


/* ------------ */


/* ABOUT SECTION STARTS HERE */


#about {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  transition: ease-in;
}


.about-title {

    font-size: 50px;
    color: #eeeeee;
    font-weight: 300;
    padding-top: 10%;

}







/* about section */

#about {
   
    

}

nav.sticky {

    position: fixed;
    top: 0;
    left: 0;
}



/* .cursor {
    z-index: 100;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

 */





/* keyframing animations */




@keyframes waveOne {
    0% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
        -o-transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
        -webkit-transform: translatey(-30px);
        -moz-transform: translatey(-30px);
        -ms-transform: translatey(-30px);
        -o-transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
        -o-transform: translatey(0px);
    }
}



@keyframes wave {
    0% {
        transform: translatex(0px);
        -webkit-transform: translatex(0px);
        -moz-transform: translatex(0px);
        -ms-transform: translatex(0px);
        -o-transform: translatex(0px);
    }

    50% {
        transform: translatex(15px);
        -webkit-transform: translatex(15px);
        -moz-transform: translatex(15px);
        -ms-transform: translatex(15px);
        -o-transform: translatex(15px);
    }

    100% {
        transform: translatex(0px);
        -webkit-transform: translatex(0px);
        -moz-transform: translatex(0px);
        -ms-transform: translatex(0px);
        -o-transform: translatex(0px);
    }
}




@keyframes text-wave {
    0% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
        -o-transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -ms-transform: translatey(-10px);
        -o-transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        -ms-transform: translatey(0px);
        -o-transform: translatey(0px);
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* 
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
} */
